gemma/ml-model/gemma-3-4b-it-model.tar.gz

claude/.claude

whisper-secret/ml-model/whisper-large-v3-turbo-model.tar.gz
whisper-secret/ml-model/quiet-meadow-large-v3-turbo-model.tar.gz
whisper-secret/ml-model/kb-whisper-large-model.tar.gz
whisper-large-secret-standard/ml-model/quiet-meadow-large-v3-turbo-model.tar.gz
whisper-large-secret-standard/ml-model/kb-whisper-large-model.tar.gz
whisper-large-secret-cpp/ml-model/quiet-meadow-large-v3-turbo-model.tar.gz
whisper-large-secret-cpp/ml-model/kb-whisper-large-model.tar.gz
whisper-large-secret-fast/ml-model/quiet-meadow-large-v3-turbo-model.tar.gz
whisper-large-secret-fast/ml-model/kb-whisper-large-model.tar.gz
whisper-large-secret/ml-model/whisper-large-v3-turbo-model.tar.gz
whisper-tiny-cpp-ecs/model-downloader/model.tar.gz
whisper-tiny-whisper-cpp-ecs/model-downloader/model/model.tar.gz
whisper-small-secret-standard/ml-model/quiet-meadow-small-v3-turbo-model.tar.gz
whisper-samll-secret-standard/ml-model/kb-whisper-small-model.tar.gz
whisper-small-secret-standard/ml-model/quiet-meadow-large-v3-turbo-model.tar.gz
whisper-small-secret-standard/ml-model/kb-whisper-large-model.tar.gz
whisper-small-secret-standard/ml-model/kb-whisper-small-model.tar.gz
whisper-secret-standard/ml-model/kb-whisper-model.tar.gz
whisper-secret-standard-faster2/ml-model/kb-whisper-model.tar.gz
whisper-secret-standard-faster/ml-model/kb-whisper-model.tar.gz

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*/**/.DS_Store
**/.DS_Store
.DS_Store

dist/
node_modules/
.env
pending/
processed/
transcribed/
compiled/
output/